{% extends "layout.twig" %}

{% block content %}
    {% for item in items %}
        <li class="list-group-item">
            <i class="fa {{ item.getIcon() }}" aria-hidden="true"></i>

            <div class="items float-right">
                {% if not item.getSize() and item.getName() != '..' %}
                    <a download="{{ item.getName() }}.zip" href="{{ item.getPath() }}?download=zip" title="Download zip-archive">
                            <span class="badge badge-dark">
                                <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                                zip
                            </span></a>
                {% endif %}

                {% if item.getSize() %}
                    <a download="{{ item.getName() }}" href="{{ item.getPath() }}" title="Download file">
                        <span class="badge badge-danger">
                            <i class="fa fa-download" aria-hidden="true"></i>
                            Download
                        </span></a>

                    <span class="badge badge-primary">{{ item.getSize() }}</span>
                {% endif %}
            </div>

            <a href="{{ item.getPath() }}" title="{{ item.getName() }}">{{ item.getName() }}</a>
            <br />

            <small>{{ item.getTime() }}</small>
        </li>
    {% endfor %}
{% endblock %}
